coqpit==0.0.17
coqui-tts==0.24.3
coqui-tts-trainer==0.1.7
gitdb==4.0.12
GitPython==3.1.44
google-api-core==2.24.1
google-api-python-client==2.161.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.67.0
googletrans==4.0.0rc1
librosa==0.10.2.post1
numpy==1.26.4
openai==0.27.8
scikit-learn==1.6.1
scipy==1.15.2
selenium==4.28.1
soundfile==0.13.1
SpeechRecognition==3.14.1
streamlit==1.42.1
transformers==4.49.0
